html, body{
    
    min-height:100%;
    width: 100%;
    margin: 0 0 0 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F662;
}

nav{
    padding: 0%;
    text-align: left;
    color: #E6E617;
    background-color:#7B7B04;
}

#Header, #Footer{
    text-align: center;
    background-color: #E6E617;
    color:#7B7B04;
    height: auto;
}

#HeaderTitle{
    padding: 0px;
}

.LeftSide{
   font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 17px;
}

#HomeButton, #PhotoButton, #RozkladButton, #NewsButton, #InstagramButton, #YoutubeButton ,#SliderButton{
    display:inline-block;
    vertical-align: top;
    height: 20px;
    padding-left:5px;
    padding-right: 5px;
}

.LeftSide img, .RightSide img{
    height: 18px;
    padding: 0%;
}

nav a:link ,nav a:visited,#Footer a{
    color: #E6E617;
  }

nav a {
    border-bottom: 5px solid #7B7B04;
    text-decoration: none;
}


#now{
    display: inline-block;
    border: 1px solid #7B7B04;
    border-bottom:1px solid #7B7B04;
    background: #F6F662;
    box-shadow:
    inset 0 1px 3px #7B7B04,
    0 1px #F6F662,
    0 0 1px #F6F662;
    pointer-events: none;
    color:black;
}

.topbutton {
    width:100px;
    border:2px solid #7B7B04;
    background:#F6F662;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    }

#HomeButton:hover{
    border-bottom-color: orangered;
}
#PhotoButton:hover{
    border-bottom-color: white;
} 
#RozkladButton:hover{
    border-bottom-color: red;
} 
#NewsButton:hover{
    border-bottom-color: blue;
} 
#InstagramButton :hover{
    border-bottom-color: black;
}
#YoutubeButton:hover{
    border-bottom-color: green;
}

#SliderButton:hover{
    border-bottom-color: rgb(90, 9, 90);
}

#Footer a:hover,nav a:hover{
    background-color:#E6E617;;
    color:#7B7B04;
}

.RightSide{
    float:right;
}



#Main{
    flex: 1 0 auto;
    width: 80%;
    margin:0 auto;
    background-color: #F6F69C;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0; 
}

a:link , a:visited{
    color: black;
  }
 
.NewsObj img{
float: left;
height: 100%;
margin:0;
}

.NewsObj{
    margin:10px;
    height:100px;
}

.NewsObj a:hover{
    color:#7B7B04;
}

#Footer{
    flex: 0 0 auto;
}

tr{
    width: 100%;
}
td{
    text-align: center;
}
td img{
    width: 100%;
}

@media print {
    .nextpage{
      page-break-before: always;
    }

    nav{
        display:none;
    }
    body{
      margin:50px;
      font-family:times, Georgia;
      background-color: none;
      width: auto;
      height: auto;
    }
    .main{
      border:none;
    }
    h1,h2,p,table,li{
      color:#000000;
      border-color: #000000;
    }

    #Footer{
      display:none;
    }
    a:after{
      content:" (" attr(href) ") ";
      font-size: 90%;
    }
  
  }