doctype html
html
	head
		style.
			.foot{
			display:inline-block;
			}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title Моё расписание
	body
		header
			h1
				| Личная страница (блог) Дребезова Дениса
			nav
				a(href='index.html') Главная страница
				a(href='photo.html') Фотоальбом
				a(href='news.html') Последние новости
		section
			h2 Моё расписание
			table(width='100%', height='100px', border='1')
				tbody
					tr(bgcolor='gray')
						th Время
						th Понедельник
						th Вторник
						th Среда
						th Четверг
						th Время
						th Пятница
						th Время
						th Суббота
					tr
						td 12:55
						td
						td
						td Front-end технологии
						td Практикум по программированию
						td 11:25
						td Языки программирования мобильних устройств
						td 8:00
						td Деловая та научная компьютерная графика
					tr(bgcolor='lightgray')
						td 14:30
						td
						td Front-end технологии
						td Основы автоматизированого проектирования сложных систем и объектов
						td Численные методы в информатике
						td 12:55
						td Английский язык
						td 9:35
						td Деловая та научная компьютерная графика
					tr
						td 16:05
						td
						td Практикум по программированию
						td Основы автоматизированого проектирования сложных систем и объектов
						td
						td 14:30
						td Языки программирования мобильних устройств
						td 11:25
						td
					tr(bgcolor='lightgray')
						td 17:40
						td
						td Численные методы в информатике
						td
						td
						td 16:05
						td Языки программирования мобильних устройств
						td 12:55
						td
			div
				ul
					li Кальниченко Д.О.
					li Мухин В.В.
					li Левчук С.А.
					li Лисняк А.О.
					li Кудин А.В.
					li Васильченко Е.И.
					li Решевская Е.С.
		footer
			.foot
				article Copyright 2019 Все права защищены
			.foot
				a(href='https://www.instagram.com/gurami152/') Напишите мне!
