doctype html
html
	head
		style.
			.foot{
			display:inline-block;
			}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title Мой сайт
	body
		header
			h1
				| Личная страница (блог) Дребезова Дениса
			nav
				a(href='rozklad.html') Моё расписание
				a(href='photo.html') Фотоальбом
				a(href='news.html') Последние новости
		section
			h2
				| Моя биография
			div
				img(src='images/main.jpg', width='90', height='160')
				p Это я
			div
				p
					| Я родился в Михайловке 22 декабря 1998 года. В школу пошел после садика "Теремок" в 2005 году. Моя школа была гимназией с упором на языки. Проучившись 9 классов я ушел со школы и пошел учиться в Михайловское ВПУ по специальности "Оператор по обработке информации и ПО". Окончив училище, сдал ВНО и пошел учиться в ЗНУ на программного инженера. Работаю тут же техником отдела ТЗН.
			h2
				| Мои увлечения
			div
				ul
					li
						| Программирование
					li
						| Компьютерные игры
		footer
			.foot
				article Copyright 2019 Все права защищены
			.foot
				a(href='https://www.instagram.com/gurami152/') Напишите мне!
