doctype html
html
	head
		style.
			.foot {
			display: inline-block;
			}
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title Фотоальбом
	body
		header
			h1 Личная страница (блог) Дребезова Дениса
			nav
				a(href='index.html') Главная страница
				a(href='rozklad.html') Моё расписание
				a(href='news.html') Последние новости
		main
			table
				tbody
					tr
						td
							div
								a(href='images/main.jpg')
									img(src='images/main.jpg', width='50px')
							div main.jpg 720x1280
						td
							div
								a(href='images/1.jpg')
									img(src='images/1.jpg', width='153px')
							div 1.jpg 3840x2160
						td
							div
								a(href='images/2.jpg')
									img(src='images/2.jpg', width='153px')
							div 2.jpg 3840x2160
						td
							div
								a(href='images/3.jpg')
									img(src='images/3.jpg', width='153px')
							div 3.jpg 3840x2160
						td
							div
								a(href='images/4.jpg')
									img(src='images/4.jpg', width='153px')
							div 4.jpg 3840x2160
					tr
						td
							div
								a(href='images/5.jpg')
									img(src='images/5.jpg', width='153px')
							div 5.jpg 3840x2160
						td
							div
								a(href='images/6.jpg')
									img(src='images/6.jpg', width='153px')
							div 6.jpg 3840x2160
						td
							div
								a(href='images/7.jpg')
									img(src='images/7.jpg', width='153px')
							div 7.jpg 3840x2160
						td
							div
								a(href='images/8.jpg')
									img(src='images/8.jpg', width='153px')
							div 8.jpg 720x1280
						td
							div
								a(href='images/9.jpg')
									img(src='images/9.jpg', width='153px')
							div 9.jpg 3840x2160
		footer
			.foot
				article Copyright 2019 Все права защищены
			.foot
				a(href='https://www.instagram.com/gurami152/') Напишите мне!
