.tab_item img{
    width: 230px;
    height: 130px;
}

.tab{
    width: 150px;
    height: 130px;
    padding:0 40px;
    background-color: #E6E617;
    color: #7B7B04;
}

#Main{
    text-align: center ;
}
.tabs{
    margin-bottom: 15px;
}
.tab:hover{
    color: #E6E617;
    background-color:#7B7B04;
}
